MONGO_URI=test <--- Replace with your actual MongoDB connection string
CLIENT_ID=test <--- Replace with your actual Google client ID
CLIENT_SECRET=test <--- Replace with your actual Google client secret
